.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  font-size: 30px;
}

.Calendar {
  display: flex;
  flex-direction: row;
}

.DayOfTheWeek {
  display: flex;
  flex-direction: column;
  margin: 10px;
  border: #282c34;
  border-width: 1px;
  border-style: solid;
  padding: 10px;
  min-width: 80px;
  align-items: center;
  justify-content: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}